.nav {
  background-color: yellowgreen;
  color: blue;
  padding: 5px;

  ul {
    display: flex;
    justify-content: space-around;

    li {
      padding-right: 10px;
    }
  }

  text-align: center;
}
